.keyboard__button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  background: #86a1bf;
  border-radius: 10%;
  transition: 0.3s;
    &:hover {
      cursor: pointer;
      background: #8893a0;
    }
}

.keyboard__button_normal {
  width: 4.5rem;
  height: 4.5rem;
  text-align: center;
}


.button__content {
  
  text-align: center;
  align-self: center;
}

.button__additional-content {
  width: 80%;
  display: flex;
  justify-content: flex-start;
  font-size: 1rem;
}

