.keyboard__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-self: center;
  gap: 20px;
  margin: 20px 20px 0 20px;
}

.keyboard {
  width: 78.75rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 0.5rem 0.5rem;
  margin: 0.5rem;
  &_hidden {
    position: absolute;
    right: -100vh;
    display: none;
  }
}

.textarea__container {
  width: 100%;
  height: 35vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.textarea__label {
  width: 100%;
  font-size: 3rem;
  font-weight: bold;
  color: #2d7a5e;
  text-align: center;
}

.textarea__input {
  height: 30vh;
  width: 60%;
  letter-spacing: normal;
  font-size: 3rem;
  border: 1px solid #2d7a5e;
}

.keyboard__discription {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

